<h1>Blog</h1>
<form id="editBlog">
    <input id="title" value="{{title}}"></input>
    <textarea id="body" cols="30" rows="10">{{body}}</textarea>
    <hr>
    <input type="hidden" id="id" value="{{id}}"></input>
    <button>Submit</button>
</form>
<button id="delete">Delete</button>

<script src="/js/blog.js"></script>