
<h3>Signup</h3>
<form id="signup">

    <label for="signupUsername">Username</label>
    <input type="text" placeholder="username" id="signupUsername">

    <label for="signupPassword">Password</label>
    <input type="text" placeholder="password" id="signupPassword">

    <button>Signup!</button><br>
    <a href="/login">Got an account?</a>
</form>



<script src="/js/signup.js"></script>